@charset "UTF-8";
/*#FFB884; ORANGE*/
/*GRIS MOYEN*/
/*GRIS CLAIR*/
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
/* line 12, ../sass/style.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 18, ../sass/style.scss */
body {
  font-family: "raleway";
  font-size: 18px;
  margin: auto;
  padding: auto;
}

/* line 25, ../sass/style.scss */
.banner {
  font-size: 50px;
  background-color: red;
  background-color: #FFB884;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

/* line 35, ../sass/style.scss */
.container {
  text-align: center;
  margin-top: 50px;
  /*background-color: grey;*/
}

/* line 41, ../sass/style.scss */
.search_box {
  color: #ABABAB;
  margin-top: 70px;
  text-align: center;
  border: 2px solid #FFB884;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  -moz-border-radius: 4px 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px;
  width: 200px;
  height: 22px;
  font-style: italic;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 59, ../sass/style.scss */
.schedule table {
  /*@include outer-table-borders(2px, $color2);*/
  /* @include alternating-rows-and-columns($color3, #ffffff, inherit);*/
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
}
/* line 66, ../sass/style.scss */
.schedule table tr.odd td.free, .schedule table tr:nth-child(2n+1) td.free {
  background: none;
}
/* line 68, ../sass/style.scss */
.schedule table tr.odd td.free.even, .schedule table tr.odd td.free:nth-child(2n), .schedule table tr:nth-child(2n+1) td.free.even, .schedule table tr:nth-child(2n+1) td.free:nth-child(2n) {
  background: none;
}
/* line 75, ../sass/style.scss */
.schedule table tr.even td.free {
  background-color: #737373;
}
/* line 77, ../sass/style.scss */
.schedule table tr.even td.free.even, .schedule table tr.even td.free:nth-child(2n) {
  background-color: #737373;
}

/* TABLE */
/* line 91, ../sass/style.scss */
.edt {
  width: 1200px;
  table-layout: fixed;
  -moz-border-radius: 20px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px;
  border: 2px solid #ABABAB;
}

/* line 98, ../sass/style.scss */
.hour {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 106, ../sass/style.scss */
.day {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 113, ../sass/style.scss */
.class {
  text-align: center;
  background-color: #FFB884;
  font-size: 15px;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 124, ../sass/style.scss */
thead {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 129, ../sass/style.scss */
.selected_course_list {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFB884;
}

/* line 144, ../sass/style.scss */
.course_list_title {
  text-align: center;
  width: 200px;
  color: #ffffff;
  font-size: 24px;
  -moz-border-radius: 4px 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px;
  border: 2px solid #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

/* line 166, ../sass/style.scss */
.course_list {
  text-align: left;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-display: block;
}

/* POP UP DESCRIPTION */
/* line 178, ../sass/style.scss */
.details {
  display: none;
  position: absolute;
  border: 2px solid #737373;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  color: #000000;
}

/* line 188, ../sass/style.scss */
.details_on {
  display: block;
  position: absolute;
  border: 2px solid #737373;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  color: #000000;
}

/* line 198, ../sass/style.scss */
.timetable {
  margin-left: -138px;
  /* égal à (taille élément/2 - taille_box/2) */
}

/* line 202, ../sass/style.scss */
.non_timetable {
  left: 50%;
  right: 0;
  margin-left: -200px;
  /*  margin-left égal à taille_box/2 */
}

/* LISTE DE COURS SELECTIONNÉS */
/* line 209, ../sass/style.scss */
ul {
  padding: 0 0 0 0;
  list-style: none;
}

/* line 214, ../sass/style.scss */
.course_item {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #ffffff;
}

/* line 223, ../sass/style.scss */
.total_credits {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
}

/* line 232, ../sass/style.scss */
.total_hours {
  color: #ffffff;
  text-align: center;
}

/*
tr.even {
	td.free {
		background-color: $color3
	}
}

tr.odd {
	td.free {
		background-color: #ffffff;
	}
}
*/
