@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import "compass";
$color1: #FFB884; /*#FFB884; ORANGE*/
$color2: #ABABAB; /*GRIS MOYEN*/
$color3: #E0E0E0; /*GRIS CLAIR*/
$color4: #303030; /*GRIS FONCÉ*/
$box_width: 400px;
$box_height: 200px;



/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin: auto;
	padding: auto;
}

.banner {
	font-size: 50px;
	background-color: red;
	background-color: $color1;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

.container {
	text-align: center;
	margin-top: 50px;
	/*background-color: grey;*/
}

/*Search Box*/
input[type=text] {
	color: $color2;
	margin-top: 70px;
	text-align: left;
	border: 2px solid $color1;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	@include border-radius(4px 4px);
	width: 200px;
	height: 22px;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

input[type=text]:focus {
	outline: 0 none;
	box-shadow: 0px 0px 1px 1px $color1;
	/*border: 2px solid $color1;*/

}

.search_box {
	color: $color2;
	margin-top: 70px;
	text-align: center;
	border: 2px solid $color1;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	@include border-radius(4px 4px);
	width: 200px;
	height: 22px;
	font-style: italic;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.schedule {
  table {
    /*@include outer-table-borders(2px, $color2);

    /* @include alternating-rows-and-columns($color3, #ffffff, inherit);*/

  tr {
    &.odd, &:nth-child(2n+1) {
      td.free {
        background: none;
        &.even, &:nth-child(2n) {
          background: none;
        }
      }
    }
  }
  tr.even {
    td.free {
      background-color: $color3;
      &.even, &:nth-child(2n) {
        background-color: $color3;
      }
    }
  }

    margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
  }
}

/* TABLE */

.edt {
	width: 1200px;
	table-layout: fixed;
	@include border-radius(20px 20px);
	border: 2px solid $color2;
}

.hour {
	text-align: center;
	padding:{
		top: 8px;
		bottom: 8px;
	}
}

.day {
	text-align: center;
	margin:{
		top: 5px;
		bottom: 5px; }
}

.class {
	text-align: center;
	background-color: $color1;
	font-size: 15px;
	color: #FFFFFF;
	padding:{
		top: 8px;
		bottom: 8px;
	}
}

thead {
	margin-top: 5px;
	margin-bottom: 5px;
}

.selected_course_list {
	width: 100%;
	height: 100%;
	margin:{
		right: auto;
		left: auto;
		top: 80px;
		}
	padding:{
		top: 40px;
		bottom: 40px;
	}
	background-color: $color1;
}

.course_list_title {
	text-align: center;
	
	width: 200px;
	color: #ffffff;
	font-size: 24px;
	@include border-radius(4px 4px);
	border: 2px solid #ffffff;
	margin:{
		right: auto;
		left: auto;
		bottom: 50px;
	}
	padding:{
		top: 5px;
		bottom: 5px;
		right: 5px;
		left: 5px;
	}

}

.course_list {
	text-align: left;
	max-width: 260px;
	margin:{
		right: auto;
		left: auto;
	display: block;
	}
}

/* POP UP DESCRIPTION */

.details {
    display:none;
    position:absolute;
    border:2px solid $color3;
    width: $box_width;
    height: $box_height;
    background-color: $color4;
    color: #ffffff;
    text-align: left;
    @include border-radius(10px 10px);
    font-size: 15px;
 }

.timetable {
	margin-left: 150px / 2 - $box_width / 2;   /* égal à (taille élément/2 - taille_box/2) */
}

.non_timetable {
	margin-left: 160px;
	margin-top: -100px;  /*  margin-left égal à taille_box/2 */ 
}

.title_box {
	text-align: center;
	display: block;
	width: 400px;
	margin-bottom: 20px;
	margin-top: 15px;
}

.day_box {
	display: inline-block;
	padding-left: 15px;
	width: 185px;
	margin-bottom: 10px;
}

.hour_box {
	display: inline-block;
	width: 185px;
	margin-bottom: 10px;
	padding-left: 15px;

}

.prof_box {
	display: inline-block;
	padding-left: 15px;
	width: 185px;
	margin-bottom: 10px;
}

.credits_box {
	display: inline-block;
	width: 185px;
	margin-bottom: 10px;
	padding-left: 15px;
}

.room_box {
	display: inline-block;
	padding-left: 15px;
	width: 185px;
	margin-bottom: 10px;
}

.international_box {
	display: inline-block;
	width: 185;
	margin-bottom: 10px;
	padding-left: 15px;
}

.details_box {
	display: block;
	width: 370px;
	padding:{
		left: 15px;
		right: 15px;}
}

.add_box {
	width: 75px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: block;
}

/* LISTE DE COURS SELECTIONNÉS */

ul {
	padding: 0 0 0 0;
	list-style: none;
}

.course_item {
	margin:{
		top: 25px;
		bottom: 25px;
	}
	color: #ffffff;

}

.total_credits
{
	margin:{
		top: 50px;
		bottom: 10px;
	}
	color: #ffffff;
	text-align: center;
}

.total_hours {
	color: #ffffff;
	text-align: center;
}

